In [1]:
import pandas as pd

Q1. **Goal of the Dataset:** GDP per capita and life expectancy

In [2]:
df = pd.read_csv("mckinsey.csv")
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     1704 non-null   object
 1   year        1704 non-null   int64
 2   population  1704 non-null   int64
 3   continent   1704 non-null   object
 4   life_exp    1704 non-null   float64
 5   gdp_cap     1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [5]:
df.describe()

             year    population     life_exp        gdp_cap
count  1704.00000  1.704000e+03  1704.000000    1704.000000
mean   1979.50000  2.960121e+07    59.474439    7215.327081
std      17.26533  1.061579e+08    12.917107    9857.454543
min    1952.00000  6.001100e+04    23.599000     241.165876
25%    1965.75000  2.793664e+06    48.198000    1202.060309
50%    1979.50000  7.023596e+06    60.712500    3531.846988
75%    1993.25000  1.958522e+07    70.845500    9325.462346
max    2007.00000  1.318683e+09    82.603000  113523.132900

In [6]:
df.describe(include="object")

            country continent
count          1704      1704
unique          142         5
top     Afghanistan    Africa
freq             12       624

Work with Columns

In [11]:
df["country"].value_counts() #output is series

Afghanistan          12
Pakistan             12
New Zealand          12
Nicaragua            12
Niger                12
                     ..
Eritrea              12
Equatorial Guinea    12
El Salvador          12
Egypt                12
Zimbabwe             12
Name: country, Length: 142, dtype: int64

In [10]:
type(df["country"].value_counts()) #here we have two values

pandas.core.series.Series

In [9]:
df["country"].value_counts().index #index can be non-numeric

Index(['Afghanistan', 'Pakistan', 'New Zealand', 'Nicaragua', 'Niger',
       'Nigeria', 'Norway', 'Oman', 'Panama', 'Nepal',
       ...
       'Gambia', 'Gabon', 'France', 'Finland', 'Ethiopia', 'Eritrea',
       'Equatorial Guinea', 'El Salvador', 'Egypt', 'Zimbabwe'],
      dtype='object', length=142)

Rename the column name

In [15]:
df.rename({'country':"Country"}, axis=1, inplace=True)

In [16]:
df

          Country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [17]:
#may be column name contain space
#my be column name contain number
#may be shape is the column name which is predefine variable

In [20]:
df.drop(["Country"], axis=1)

      year  population continent  life_exp     gdp_cap
0     1952     8425333      Asia    28.801  779.445314
1     1957     9240934      Asia    30.332  820.853030
2     1962    10267083      Asia    31.997  853.100710
3     1967    11537966      Asia    34.020  836.197138
4     1972    13079460      Asia    36.088  739.981106
...    ...         ...       ...       ...         ...
1699  1987     9216418    Africa    62.351  706.157306
1700  1992    10704340    Africa    60.377  693.420786
1701  1997    11404948    Africa    46.809  792.449960
1702  2002    11926563    Africa    39.989  672.038623
1703  2007    12311143    Africa    43.487  469.709298

[1704 rows x 5 columns]

In [24]:
df['custom'] = [i for i in range(1704)]
df

          Country  year  population continent  life_exp     gdp_cap  custom
0     Afghanistan  1952     8425333      Asia    28.801  779.445314       0
1     Afghanistan  1957     9240934      Asia    30.332  820.853030       1
2     Afghanistan  1962    10267083      Asia    31.997  853.100710       2
3     Afghanistan  1967    11537966      Asia    34.020  836.197138       3
4     Afghanistan  1972    13079460      Asia    36.088  739.981106       4
...           ...   ...         ...       ...       ...         ...     ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306    1699
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786    1700
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960    1701
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623    1702
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298    1703

[1704 rows x 7 columns]

In [25]:
df.drop(['custom'], axis=1, inplace=True)
df

          Country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

Working with row

In [27]:
ser = df['Country']
ser

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: Country, Length: 1704, dtype: object

In [28]:
ser[3]

'Afghanistan'

In [30]:
ser[4:16] #Slicing
df['Country'][4:16]

4     Afghanistan
5     Afghanistan
6     Afghanistan
7     Afghanistan
8     Afghanistan
9     Afghanistan
10    Afghanistan
11    Afghanistan
12        Albania
13        Albania
14        Albania
15        Albania
Name: Country, dtype: object

In [31]:
ser.index

RangeIndex(start=0, stop=1704, step=1)

In [32]:
import numpy as np
ser.index = np.arange(1, df.shape[0]+1, 1)
ser

1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
5       Afghanistan
           ...
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
1704       Zimbabwe
Name: Country, Length: 1704, dtype: object

positional indexes - implicit indexes, always Start from 0 and end with number<br>
visible indexes -  explicit indexes, any indexes

In [33]:
ser.index

Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
            ...
            1695, 1696, 1697, 1698, 1699, 1700, 1701, 1702, 1703, 1704],
           dtype='int64', length=1704)

In [35]:
data = pd.Series(['a','b','c'], index=[1,3,5])
data

1    a
3    b
5    c
dtype: object

In [39]:
#indexing
data[1], data[3] #using explicit indexes

('a', 'b')

In [43]:
#slicing
data[1:3] #unsing implicit indexing

C:\Users\visha\AppData\Local\Temp\ipykernel_5368\1623602752.py:2: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  data[1:3] #unsing implicit indexing

3    b
5    c
dtype: object

In [44]:
data = pd.Series(['a','b','c'], index=["x", "y", "z"])
data

x    a
y    b
z    c
dtype: object

In [45]:
data['x'] #indexing using positinal indexing

'a'

In [46]:
#to Avoid the confusion Pandas has Special Indexes
#1. loc - work with explicit indexes/labels <br>
#2. iloc - works with implicit indexes/posistional indexes

In [51]:
data.loc["x"], data.iloc[0]

('a', 'a')