<font color='green'> Evaluation Criteria </font>
1. Define Problem Statement and Analysing basic metrics (10 Points).
1. Observation on the shape of data types of all the attributes, converion of categorical attributes to 'category'(if required), missing value detection, statistical etc (10 Point).
1. Non-Graphical Analysis: value counts and unique attributes (10 Points).
1. Visual Analysis - Univerate, Bivariate, after pre-processing of the data.
<br>   *Note: Pre-Processing involves unnnesting of the data in columns like actor, director, country
    1. For Continous variable(s): Distplot, countplot, histogram for univiate analysis (10 Points).
    1. For Categorical variable(s): Boxplot(10 Points).
    1. For Correlation: Heatmaps, Pairplots(10 Points)
1. Missing Value & Outlier Check(Treatment Optional)(10 Points).
1. Insights based on Non-Graphical and Visual Analysis(10 Points).
    1. Comments on the range of attributes.
    1. Comments on the distribution of the variables and relationship between them.
    1. Comments for each univeriate and bivariate plot
1. Business insights(10 Points) - Should include patterns observed in the data along with what you infer from it.
1. Recommendations(10 Points) - Actionable items for business. No techinical jargon. No Complications. Simple action items that everyone can understand.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
path = r'C:\Users\visha\OneDrive\Scaler Academy\Datasets\netflix.csv'
data = pd.read_csv(path)
data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

#### 1. Define Problem Statement and Analysing basic metrics (10 Points).
<font color="pink">Given the data Netflix data about the all kind of shows that are showing on the Netflix platform. we need to find the some pattern so that business will grows. </font>

#### 2. Observation on the shape of data types of all the attributes, conversion of categorical attributes to 'category' (if required), missing value detection, statistical etc (10 Point).

In [10]:
print("Shape of our data frame is :",data.shape)
print('Missing Value :')
print(data.isnull().sum())

Shape of our data frame is : (8807, 12)
Missing Value :
show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

#### 3. Non-Graphical Analysis: value counts and unique attributes (10 Points).

In [22]:
print("Total Number of Rating Given to Movies and Series :",data.rating.nunique())
data.rating.unique()

Total Number of Rating Given to Movies and Series : 17

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', '74 min', '84 min', '66 min', 'NR', nan,
       'TV-Y7-FV', 'UR'], dtype=object)

In [24]:
data['rating'].value_counts()

TV-MA       3207
TV-14       2160
TV-PG        863
R            799
PG-13        490
TV-Y7        334
TV-Y         307
PG           287
TV-G         220
NR            80
G             41
TV-Y7-FV       6
NC-17          3
UR             3
74 min         1
84 min         1
66 min         1
Name: rating, dtype: int64

In [26]:
data['type'].value_counts()

Movie      6131
TV Show    2676
Name: type, dtype: int64

In [29]:
data['country'].value_counts().sort_values(ascending=False)

United States                                           2818
India                                                    972
United Kingdom                                           419
Japan                                                    245
South Korea                                              199
                                                        ...
Ireland, United Kingdom, Greece, France, Netherlands       1
France, Canada, Italy, United States, China                1
United States, Venezuela                                   1
United Kingdom, Canada, Japan                              1
United Arab Emirates, Jordan                               1
Name: country, Length: 748, dtype: int64

#### 4. Visual Analysis - Univerate, Bivariate, after pre-processing of the data.
Note: Pre-Processing involves unnnesting of the data in columns like actor, director, country
1. For Continous variable(s): Distplot, countplot, histogram for univiate analysis (10 Points).
1. For Categorical variable(s): Boxplot(10 Points).
1. For Correlation: Heatmaps, Pairplots(10 Points)

> Univerate Question:

1. Which year launches highest number of movies and TV shows?
2. Which country release more Movies and which country relese more TV shows.
3. Total Number of movies and TV shows produce each year.
4. How many director producing Movies and How many director producing TV shows?
5. Famous Actor - dependent on number of movies/tv show work on.
6. which movie rating is famous. (having large number of count)

> Biverate Question:

1. How many movies each director product in last 10 year?
2. Director favourate cast.
3. Most frequent rating director gets.

Some question can be rise
> Director
1. Most frequent actor/director.
2. for a particular gener most popular director/actor
3. country wise, popular actor
4. rating - Actor(most Frequent)
5. Fav actor for director.

>Movie
1. Most watched movie
2. Best rating movie for last 10 year

>Country
1. Most popular actor
2. Most Popular Director
3. Most popular movie

>Recommandation
1.  Most popular genre, Add more movies-> Most popular actor

-- <font color='green'>We are better then MBA student because we forcast based on the data. recommandation backed by the data</font> --